@model NewAsiaOASystem.ViewModel.DKX_LCCZJLinfoView
@{
    ViewBag.Title = "生产退单耽误工时编辑";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<script type="text/javascript">
    var loadi;
    function ddchen() {
        loadi = layer.load(1, { shade: [0.8, '#393D49'] })
    }
    //关闭等待效果
    function disLoading() {
        layer.close(loadi);
    }
    function guanbi() {
        var index = parent.layer.getFrameIndex(window.name);
        //关闭弹出层
        parent.layer.close(index);
    }
    //提交保存
    function fxSavaForm() {
        var SC_DWGS = $("#SC_DWGS").val();
        var CK_DWGS = $("#CK_DWGS").val();
     
        if (SC_DWGS == "" || SC_DWGS == null) {
            layer.alert("耽误生产工时不为空！", { icon: 2 });
            return false;
        }
        if (SC_DWGS != "" && SC_DWGS != null) {
            if (isNaN(SC_DWGS)) {
                layer.alert("工时数值必须为数字！", { icon: 2 });
                return false;
            }
        }
        if (CK_DWGS == "" || CK_DWGS == null) {
            layer.alert("耽误仓库工时不为空！", { icon: 2 });
            return false;
        }
        if (CK_DWGS != "" && CK_DWGS != null) {
            if (isNaN(CK_DWGS)) {
                layer.alert("工时数值必须为数字！", { icon: 2 });
                return false;
            }
        }
         $.ajax({
            url: "../DKX_DDtypeinfo/update_Delay_SCtime_Eide",
            type: "POST",
             data: { Id: '@Model.Id', time: SC_DWGS, time2: CK_DWGS},
            dataType: "json",
            async: true,
            beforeSend: function () {
                ddchen();
            },
            success: function (context) {
                disLoading();
                if (context.result == "success") {
                    layer.alert(context.msg, { icon: 1 }, function () { guanbi(); });
                }
                else {
                    layer.alert(context.msg, { icon: 2 }, function () { guanbi(); });
                }


            },
            error: function (e) {
                disLoading();
                layer.alert("操作失败！", { icon: 2 });
            }
        })
    }
</script>

<div style="width: 80%; padding: 20px 20px 0 20px">
    <div class="layui-form-item">
        <label class="layui-form-label">耽误工时：</label>
        <div class="layui-input-block">
            <input class="layui-input" id="SC_DWGS" name="SC_DWGS" value="@Model.SC_DWGS" placeholder="耽误生产工时（单位小时H）" type="text" style="width: 200px;" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">耽误工时：</label>
        <div class="layui-input-block">
            <input class="layui-input" id="CK_DWGS" name="CK_DWGS" value="@Model.CK_DWGS" placeholder="耽误仓库工时（单位小时H）" type="text" style="width: 200px;" />
        </div>
    </div>
    <div class="layui-form-item">

        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn   layui-btn-sm" onclick="return fxSavaForm()">立即提交</button>
            </div>
        </div>
    </div>
</div>
