@model NewAsiaOASystem.ViewModel.PagerInfo<NewAsiaOASystem.ViewModel.DKX_DDinfoView>
@{
    ViewBag.Title = "需要检查助力的订单列表";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">
        $(function () {
            BindGrid();
        })

        function BindGrid() {
            @{
                if (null != Model && null != Model.GetPagingDataJson)
                {
                    string json = Model.GetPagingDataJson;//获取json数据
                    @: var jsonStr = @Html.Raw(json);
                }
             }
             dataGrid(jsonStr);
        }

        function dataGrid(jsonStr) {
            if (typeof (jsonStr) != "undefined") {
                var html = "";
                html = '<table class="layui-table" style="TBBLE-LBYOUT: fixed">';
                html += '<thead>';
                html += '<tr style="font-weight:bold;color:#000000">';
                html += '<td width="8%">生产批号</td>';
                html += '<td width="10%">客户</td>';
                html += '<td width="10%">类型</td>';
                html += '<td width="10%">订单型号</td>';
                html += '<td width="6%">功率</td>';
                html += '<td width="6%">数量</td>';
                html += '<td width="10%">操作</td>';
                html += '</tr>';
                html += '</thead>';
                for (var i = 0, j = jsonStr.length; i < j; i++) {
                    html += '<tr style="color:#000000">';
                    html += '<td width="8%">' + jsonStr[i].DD_Bianhao + '</td>';
                    html += '<td width="10%">' + jsonStr[i].KHname + '</td>';
                    html += '<td width="10%">' + showddtype(jsonStr[i].DD_Type) + '</td>';
                    html += '<td width="10%" style="word-WRBP: break-word">' + jsonStr[i].DD_DHType + '</td>';
                    html += '<td width="6%">' + jsonStr[i].POWER + '/' + jsonStr[i].dw + '</td>';
                    html += '<td width="6%">' + jsonStr[i].NUM + '</td>';
                    html += '<td width="10%">' + listbtnshow(jsonStr[i].Id) + '</td>';
                    html += '</tr>';
                }
                html += '</table>';
                $("#content").html(html);
            }
        }

        function SerchList(pageIndex) {
            $("input[name='pageIndex']").val(pageIndex);
            var options = {
                beforeSubmit: function () {
                    return true;
                },
                dataType: "json",
                success: function (context) {
                    var data = eval(context.result);
                    dataGrid(data);
                    $(".pagin").html(context.PageN);//输出分页按钮
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.messager.alert("操作提示", '查询失败请重试！', 'error');
                }
            }
            $('#form1').ajaxSubmit(options);
            return false;
        }

                //电控箱类型显示
        function showddtype(val,val2){
            var jsonstr=@Html.Raw(ViewBag.MyJson);
            var str;

            if(jsonstr!=null){
                for (var i = 0;i <jsonstr.length; i++) {
                    if(jsonstr[i].Type==val)
                    {
                        str=jsonstr[i].Name;
                        return str;
                    }
                }
            }
        }

        //列表中操作的列表
        function listbtnshow(ddId) {
            var id = "'" + ddId + "'";
            var z = '<a class="layui-btn layui-btn-primary layui-btn-small" onclick="ziliaochakan(' + id + ')">助力检查</a>';
            return z;
        }


        //资料查看
        function ziliaochakan(val) {
            layer.open({
                type: 2,
                title: ['资料助力检查', 'font-size:14px;'],
                area: ['900px', '450px'],
                offset: '10px',
                fixed: false, //不固定
                maxmin: true,
                content: '../DKX_DDtypeinfo/dragzlcheckupView?Id=' + val,
                end: function () {
                    location.reload();
                }
            })
        }
    </script>
}

<div class="h-right">
    <div class="h-right-c">
        <!--查询条件-->
        <div class="inquiry1">
            <fieldset>
                <legend>查询条件：</legend>
                @using (Html.BeginForm("DKXdragSearchList", "DKX_DDtypeinfo", FormMethod.Post, new { id = "form1" }))
                {
                    @Html.Hidden("pageIndex");
            <ul>
                <li>
                    <span>生产批号：</span>
                    <span class="inquiry-input">
                        <input type="text" name="txt_DD_Bianhao" id="txt_DD_Bianhao" />
                    </span>
                </li>
                <li style="*width: 100%; *margin: -10px 0 5px 90px;">
                    <span class="inquiry-input">
                        <button name="btnSerch" class="layui-btn" onclick="return SerchList(1)"><i class="layui-icon">&#xe615;</i>查询</button>
                    </span>
                </li>
            </ul>
                }
            </fieldset>
        </div>
        <div class="h-table">
            <div class="h-table-content" style="color: #9d9999;">
                <div id="content"></div>
            </div>
        </div>
    </div>
</div>

<!--==========================输出分页按钮=========================-->
<div class="pagin">
    @if (ViewBag.PageNavigate == null)
    {
        @Html.ShowPageNavigate(Model.CurrentPageIndex, Model.PageSize, Model.RecordCount);
    }
</div>

<script src="~/Scripts/NAjs/DKXpulice.js"></script>