@model NewAsiaOASystem.ViewModel.PagerInfo<NewAsiaOASystem.ViewModel.DKX_DDtypeinfoView>
@{
    ViewBag.Title = "电控箱类型列表";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

@section HeadContent{
    <script type="text/javascript">
        $(function () {
            BindGrid();
        })

        function BindGrid() {
            @{
                if (null != Model && null != Model.GetPagingDataJson)
                {
                    string json = Model.GetPagingDataJson;//获取json数据
                    @: var jsonStr = @Html.Raw(json);
                }
             }
            dataGrid(jsonStr);
        }

        function dataGrid(jsonStr){
            if (typeof (jsonStr) != "undefined") {
                var html = "";
                html = '<table class="layui-table">';
                html += '<thead>';
                html+='<tr style="font-weight:bold;color:#000000">';
                html+='<td width="5%"><input type="checkbox" name="TopChecked" value="0" onclick="TopChecked()" /></td>';
                html+='<td width="5%">排序</td>';
                html+='<td width="15%">名称</td>';
                html+='<td width="5%">类型代码</td>';
                html+='<td width="5%">电气审核</td>';
                html+='<td width="10%">是否启用</td>';
                html+='<td width="10%">备注</td>';
                html+='<td width="15">操作</td>';
                html+='</tr>';
                html+='</thead>';
                for (var i = 0, j = jsonStr.length; i < j; i++)
                {
                    html+='<tr>';
                    html += '<td width="5%"><input type="checkbox" name="ContentChecked" value="' + jsonStr[i].Id + '"/></td>';
                    html+='<td width="5%">'+jsonStr[i].Sort+'</td>';
                    html+='<td width="15%">'+jsonStr[i].Name+'</td>';
                    html+='<td width="5%">'+jsonStr[i].Type+'</td>';
                    if(jsonStr[i].Issh=="0")
                        html+='<td width="5%">否</td>';
                    else
                        html+='<td width="5%" style="color:red">需要</td>';
                    if(jsonStr[i].Start=="0")
                        html+='<td width="10%">启用</td>';
                    else
                        html+='<td width="10%">禁用</td>';
                    html+='<td width="20%">'+jsonStr[i].Beizhu+'</td>';
                    html+='<td width="20%">-</td>';
                    html+='</tr>';
                }
                html += '</table>';
                $("#content").html(html);
            }
        }

        function SerchList(pageIndex)
        {
            $("input[name='pageIndex']").val(pageIndex);
            var options = {
                beforeSubmit: function () {
                    return true;
                },
                dataType: "json",
                success: function (context) {
                    var data=eval(context.result);
                    dataGrid(data);
                    $(".pagin").html(context.PageN);//输出分页按钮
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.messager.alert("操作提示", '查询失败请重试！', 'error');
                }
            }
            $('#form1').ajaxSubmit(options);
            return false;
        }
    </script>
}

<div class="h-right">
    <div class="h-right-c">
        <!--查询条件-->

        <div class="inquiry1">
            <fieldset>
                <legend>查询条件：</legend>
                @using (Html.BeginForm("SearchList", "DKX_DDtypeinfo", FormMethod.Post, new { id = "form1" }))
                {
                    @Html.Hidden("pageIndex");
                    <ul>
                        <li>
                            <span>类型名称：</span>
                            <span class="inquiry-input">
                                <input type="text" name="txtSearch_Name" id="txtSearch_Name" />
                            </span>
                        </li>
                       
                        <li>
                            <span>是否启用：</span>
                            <span class="inquiry-input">
                                <select id="start" name="start">
                                    <option value="0">启用</option>
                                    <option value="1">禁用</option>
                                </select>
                            </span>
                        </li>
                        <li style="*width: 100%; *margin: -10px 0 5px 90px;"><span class="inquiry-input">
                            <button name="btnSerch" class="layui-btn" onclick="return SerchList(1)"><i class="layui-icon">&#xe615;</i>查询</button>
                        </span>
                        </li>
     

                    <li>
                        <span class="inquiry-input">
                            <button class="layui-btn" onclick="return addClick('/DKX_DDtypeinfo/addPage')" id="parentIframe"><i class="layui-icon">&#xe608;</i> 新建</button>
                        </span>
                         <span class="inquiry-input">
                             <button class="layui-btn" onclick="return update('/DKX_DDtypeinfo/EditPage')"><i class="layui-icon">&#xe620;</i> 编辑</button>
                         </span>
                        <span class="inquiry-input">
                            <button class="layui-btn" onclick="return addClick('/DKX_DDtypeinfo/DKXtypelist')"><i class="layui-icon">&#x1002;</i>刷新</button></span>
                    </li>
                </ul>
                }
            </fieldset>
        </div>


        <div class="h-table">
            <div class="h-table-content" style="color:#9d9999;">
                <div id="content"></div>
            </div>
        </div>
    </div>
</div>

<!--==========================输出分页按钮=========================-->
<div class="pagin">
    @if (ViewBag.PageNavigate == null)
    {
        @Html.ShowPageNavigate(Model.CurrentPageIndex, Model.PageSize, Model.RecordCount);
    }
</div>
