@{
    ViewBag.Title = "常规电控箱管理列表";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<style>
    .titletjbg2
    {
        height: 40px;
        line-height: 40px;
        background: #fff;
        float: left;
        width: 100%;
        border-radius: 4%;
    }

    .add-infor-title-bg_tj ul
    {
        padding: 10px;
    }

        .add-infor-title-bg_tj ul li
        {
            width: 20%;
            float: left;
            font-size: 15px;
        }

    .titletjbg2 ul
    {
        padding: 10px;
    }

        .titletjbg2 ul li
        {
            width: 20%;
            float: left;
            font-size: 15px;
        }

    .add-infor-title-bg_header
    {
        height: 46px;
        line-height: 46px;
        background: #e8e5e5;
        float: left;
        width: 100%;
    }

        .add-infor-title-bg_header ul
        {
            /*padding: 10px;*/
        }

            .add-infor-title-bg_header ul li
            {
                width: 20%;
                float: left;
                font-size: 18px;
            }

    #content table
    {
        border-collapse: collapse;
        border: none;
    }

        #content table td
        {
            border: solid #e8e5e5 1px;
        }

    .a
    {
        position: relative;
        top: expression(this.offsetParent.scrollTop);
        text-align: center;
        z-index: 10;
    }

    .mainDIV
    {
        overflow: scroll;
        height: 380px;
    }
</style>

<script type="text/javascript">

    var loadi;
    function ddchen() {
        loadi = layer.load(1, { shade: [0.8, '#393D49'] })
    }
    //关闭等待效果
    function disLoading() {
        layer.close(loadi);
    }
    function guanbi() {
        var index = parent.layer.getFrameIndex(window.name);
        //关闭弹出层
        parent.layer.close(index);
    }

    $(function () {
        var sort = $("#Pxsort").val();
        Updatekc();
    })

    function Paix() {
        var sort = $("#Pxsort").val();
        var wlsort = $("#wlsort").val();
        if (sort == "" && wlsort == "") {
            $.messager.alert("操作提示", '请选择排序方式！', 'error');
            return;
        }
        if (sort != "" && wlsort != "") {
            $.messager.alert("操作提示", '同时只能选择一中排序方式', 'error');
            return;
        }
        Gettabledata();
    }

      //初始化订单明细的数据表格
    function Gettabledata() {
        var sort = $("#Pxsort").val();
        var cpname = $("#cpname").val();
        var wlsort = $("#wlsort").val();
        
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#test',
                url: '/Flow_RoutineStockinfo/DKXGetADATAnopage',
                where: {
                    sort: sort,
                    cpname: cpname,
                    wlsort: wlsort,
                    Category: '0'
                },
                cols: [[
                    { field: 'Id', width: 80, title: 'ID', sort: true, },
                    { field: 'P_Bianhao', width: 200, title: '物料号' },
                    { field: 'P_Name', width: 130, title: '物料名称' },
                    { field: 'P_Model', width: 130, title: '物料型号' },
                    { field: 'M_Consumption', width: 75, title: '月用量' },
                    { field: 'W_Consumption', width: 75, title: '周用量' },
                    { field: 'wjjpsum', width: 90, title: '未清拣配' },
                    { field: 'N_Stock', width: 90, title: '及时库存' },
                    { field: 'A_Sum', width: 90, title: '报警数量' },
                    {
                        field: 'Isbj', width: 90, title: '是否异常', templet: function (d) {
                            if (d.Isbj == "1")
                                return '<span style="color:red">异常</span>'
                            else
                                return "正常"
                        }
                    },
                    {
                        field: 'Isscing', width: 100, title: '是否生产', templet: function (d) {
                            if (d.Isscing != "0")
                                return '<span style="color:red">生产中(' + d.Sjsc_Sum + ')</span>'
                            else
                                return "正常"
                        }
                    },
                    { field: 'sczdsum', width: 100, title: '在线数量' },
                    { field: 'SC_Sum', width: 90, title: '需要生产' },
                    { field: '', title: '操作', width: 160, fixed: 'right', toolbar: "#bar" }
                ]],
                done: function (res, curr, count) {
                    $(".layui-table-box").find("[data-field='Id']").css("display", "none");
                }
                , page: false,
                height: 'full-110'


            });
            table.on('tool(test)', function (obj) {
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var data = obj.data; //获得当前行 tr 的 DOM 对象（如果有的话）
                if (layEvent === 'ylEide') { //查看
                    UpdateConsumption(data.Id);
                }
                if (layEvent === 'JHEide') {
                    MakePlan(data.Id, data.Isscing,"0")
                }
                if (layEvent === 'del') {
                    DetcgsccpEide(data.Id,"0")
                }
            })
})
}

    //库存更新
    function Updatekc() {
        $.ajax({
            type: "POST",
            url: "/Flow_RoutineStockinfo/PsDKXUpdateInventory",
            data: { type: "0" },
            dataType: "json",
            async: true,
            beforeSend: function () {
                ddchen();
            },
            success: function (response) {
                disLoading();
                if (response.result == "success") {
                    Gettabledata();
                    //layer.alert(response.res, { icon: 1 }, function () {  });
                }
                if (response.result == "error") {
                    layer.alert(response.res, { icon: 2 }, function () { location.reload(); });
                }
            },
            error: function (e) {
                disLoading();
                layer.alert("操作失败！", { icon: 2 });
            }
        })
    }

    //操作
    function czshow(val, val2, val3) {
        var Id = "'" + val + "'";
        var scing = "'" + val2 + "'";
        var s = '<a href="#" onclick="UpdateConsumption(' + Id + ')">用量</a>&nbsp;&nbsp;';
        var t = '<a href="#" onclick="MakePlan(' + Id + "," + scing + "," + val3 + ')">计划</a>&nbsp;&nbsp;';
        var z = '<a href="#" onclick="DetcgsccpEide(' + Id + "," + val3 + ')">删除</a>&nbsp;&nbsp;';
        return s + t + z;
    }

    //用量（月，周）编辑页面
    function UpdateConsumption(val) {
        var id = val;
        if (id != "") {
            $('#windowDia').html("<iframe src=../Flow_RoutineStockinfo/DKXupdateConsumption?Id=" + id + " style='border:0px;' width='450px' height='230px'></iframe>");
            $("#windowDia").window({
                title: '用量修改',
                modal: true,
                closed: false,
                width: 500,
                height: 310,
            });
        }
    }

    //制定生产计划
    function MakePlan(val, val2, val3) {
        if (val2 == "0") {
            var id = val;
            if (id != "") {
                $('#windowDia').html("<iframe src=../Flow_RoutineStockinfo/DKXPlanproductionView?Id=" + id + "&&type=" + val3 + "&&  style='border:0px;' width='500px' height='400px'></iframe>");
                $("#windowDia").window({
                    title: '生产计划',
                    modal: true,
                    closed: false,
                    width: 560,
                    height: 310,
                });
            }
        } else {
            $.messager.alert("操作提示", '已经存在生产计划单，无需重复下单！', 'error');
        }
    }

    //删除页面（禁用页面）
    function DetcgsccpEide(Id, type) {
        $.messager.confirm("操作提示", '确定要删除该产品吗？', function (data) {
            if (data) {
                var shreslut = deleteEide(Id);
                if (shreslut == "0") {
                    $.messager.alert("提示", '该产品已经删除！', 'info', function () {
                        if (type == "0")
                            location.href = "../Flow_RoutineStockinfo/dkxlist";
                        else
                            location.href = "../Flow_RoutineStockinfo/dkxlist";
                    });
                }
                else {
                    $.messager.alert("提示", '删除失败！', 'info', function () {
                        if (type == "0")
                            location.href = "../Flow_RoutineStockinfo/dkxlist";
                        else
                            location.href = "../Flow_RoutineStockinfo/dkxlist";
                    });
                }
            }
        })
    }

    //删除
    function deleteEide(val) {
        var json;
        $.ajax({
            type: "POST",
            url: "/Flow_RoutineStockinfo/DelcgscEide",
            data: { Id: val },
            dataType: "html",
            async: false,
            success: function (reslut) {
                json = reslut;
            },
            error: function (e) {
                alert("网路异常，请重试！");
            }
        })
        return json;
    }
</script>
<script type="text/html" id="bar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn  layui-btn-xs layui-btn-normal" lay-event="ylEide" title="周/月用量">
            用量
        </button>
        <button type="button" class="layui-btn  layui-btn-xs layui-btn-warm" lay-event="JHEide" title="计划下单">
            计划
        </button>
        <button type="button" class="layui-btn  layui-btn-xs layui-btn-danger" lay-event="del" title="删除">
            删除
        </button>
    </div>
</script>
<div class="infor">
    <div class="inquiry1">
        <fieldset>
            <ul>
                <li>
                    <span>告警数排序：</span>
                    <span class="inquiry-input">
                        <select id="Pxsort" name="Pxsort">
                            <option value="">请选择</option>
                            <option value="0">倒序</option>
                            <option value="1">正序</option>
                        </select>
                    </span>
                </li>
                <li>
                    <span>物料代码排序：</span>
                    <span class="inquiry-input">
                        <select id="wlsort" name="wlsort">
                            <option value="">请选择</option>
                            <option value="0">倒序</option>
                            <option value="1">正序</option>
                        </select>
                    </span>
                </li>
                <li>
                    <span>产品名称：</span>
                    <span class="inquiry-input">
                        <input type="text" id="cpname" name="cpname" />
                    </span>
                </li>
                <li>
                    <span class="inquiry-input">
                        <button type="button" onclick="Paix()">查询</button>
                    </span>
                    <span class="inquiry-input">
                        <button type="button" onclick="return addClick('/Flow_RoutineStockinfo/DKXAddPage')">新增</button>
                    </span>

                    <span class="inquiry-input">
                        <button type="button" onclick="return Updatekc()">更新库存</button>
                    </span>
                    <span class="inquiry-input">
                        <button type="button" onclick="return Gettabledata()">刷新</button>
                    </span>

                </li>
            </ul>
        </fieldset>
    </div>
</div>

<div style="width: 98%; margin: auto; margin-top: 10px;">
   
    <div id="content" style="width: 100%;height:10%">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>

 
<div id="windowDia" class="easyui-window" closed="true" style="width: 600px; height: 500px; padding: 10px;"></div>
