@model NewAsiaOASystem.ViewModel.NQ_CHdetailinfoView
@{
    ViewBag.Title = "分析记录打印";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<script src="~/Scripts/Printjs/LodopFuncs.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量
    function myPreview1() {
        LODOP = getLodop();
        var strBodyStyle = "<style>" + document.getElementById("style1").innerHTML + "</style>";
        var strFormHtml = strBodyStyle + "<body>" + document.getElementById("form1").innerHTML + "</body>";
        //  LODOP.ADD_PRINT_HTM(20, 30, 980, 680, strFormHtml);
        LODOP.ADD_PRINT_HTM(20, 30, "95%", 680, strFormHtml);
        LODOP.SET_PRINT_PAGESIZE(2, 0, 0, "")
        // LODOP.SET_PRINT_STYLEA(0, "AngleOfPageInside", 90);
        // LODOP.SET_PRINT_PAGESIZE(1, 0, 0, "A4"); //A4纸张纵向打印
       // LODOP.SET_SHOW_MODE("LANDSCAPE_DEFROTATED", 2);//横向时的正向显示
        LODOP.PREVIEW();
    };

    $(function () {
        htmlstr();
    })

    //根据返退货产品Id查找维修产品的明细ajax
    function AjxaWxcpjson() {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_CHdetailinfo/AjaxWxmxjson",
            data: { RId: '@ViewData["RId"]' },
            dataType: "json",
            async: false,
            success: function (reslut) {
                json = eval(reslut);
            },
            error: function (e) {
                alert("网络异常！");
            }
        })
        return json;
    }

    //拼接返退维修产品记录的html
    function htmlstr() {
        var strjson = AjxaWxcpjson();
        var html;
        html = '<table class="table_con" style="width: 100%; color: #000; font-size: 13px; margin: auto;">';
        html += '<tr>';
        html += '<td>序号</td>';
        html += '<td>产品型号</td>';
        html += '<td>生产批号</td>';
        html += '<td>时间</td>';
        html += '<td>不良现象</td>';
        html += '<td>不良原因</td>';
        html += '<td>处理意见</td>';
        //html += '<td>不良元器件</td>';
        //html += '<td>常见品牌</td>';
        html+='<td>备注</td>'
        html += '</tr>';
        if (typeof (strjson) != "undefined") {
            for (var i = 0, j = strjson.length; i < j; i++) {
                var xh = i + 1;
                var Perinfo = GetPerinfobyId(strjson[i].P_Id);
                if (strjson[i].TH_BLXX != null && strjson[i].TH_BLXX != "") {
                    var blxxmmodel = ajaxblyymodelbyidjson(strjson[i].TH_BLXX);//不良原因1
                }
                if (strjson[i].TH_BLYY != null && strjson[i].TH_BLYY != "") {
                    var blyymmodel = ajaxblyymodelbyidjson(strjson[i].TH_BLYY);//不良原因2
                }
                //if (strjson[i].TH_YQJname != null && strjson[i].TH_YQJname != "") {
                //    var yjmodel = ajaxyjmodelbyidjson(strjson[i].TH_YQJname);//元器件
                //    var gysinfo = ajaxgysinfobydm(yjmodel.G_Dm);
                //}
                html += '<tr>';
                html += '<td>' + xh + '</td>';
                html += '<td>' + Perinfo.Pname + '</td>';
                if (strjson[i].TH_Ph != "" && strjson[i].TH_Ph!=null)
                    html += '<td>' + strjson[i].TH_Ph + '</td>';
                else
                    html += '<td>-</td>';
                if (strjson[i].TH_zbshj != "" && strjson[i].TH_zbshj!=null)
                    html += '<td>' + showISZB(strjson[i].TH_zbshj) + '</td>';
                else
                    html += '<td>-</td>';
                if (strjson[i].TH_BLXXX != null && strjson[i].TH_BLXXX != "")
                    html += '<td>' + ajaxblxxmodeljson(strjson[i].TH_BLXXX).Name + '</td>';
                else
                    html += '<td>-</td>';
                if (strjson[i].TH_BLYY != null && strjson[i].TH_BLYY != "") {
                    html += '<td>' + blyymmodel.Name + '</td>';
                } else if (strjson[i].TH_BLXX != null && strjson[i].TH_BLXX != "") {
                    html += '<td>' + blxxmmodel.Name + '</td>';
                } else {
                    html += '<td>-</td>';
                }
                if (strjson[i].TH_bz != null && strjson[i].TH_bz != "")
                    html += '<td>' + strjson[i].TH_bz + '</td>';
                else
                    html += '<td>-</td>';
                if (strjson[i].TH_bz2 != null && strjson[i].TH_bz2 != "")
                     html += '<td>' + strjson[i].TH_bz2 + '</td>';
                else
                    html += '<td>-</td>';
                //if (strjson[i].TH_YQJname != null && strjson[i].TH_YQJname != "")
                //    html += '<td>' + yjmodel.Y_Ggxh + '</td>';
                //else
                //    html += '<td>-</td>';
                //if (strjson[i].TH_YQJname != null && strjson[i].TH_YQJname != "")
                //    html += '<td>' + gysinfo.G_Name + '</td>';
                //else
                //    html += '<td>-</td>';
                html += '</tr>';
            }
        }
        html += '</table>';
        $("#Htmlcon").html(html);
    }

    //显示再保时间
    function showISZB(val) {
        var str;
        if (Number(val) <= 18) {
            str = "18个月内";
            return str;
        }
        if (18 < Number(val) && Number(val) <= 36) {
            str = "18个月至3年";
            return str;
        }
        if (Number(val) > 36) {
            str = "3年外";
            return str;
        }
        return;
    }

    //根据不良现象ID 查找不良现象信息
    function ajaxblxxmodeljson(Id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_Blxxinfo/GetblXXmodelbyId",
            data: { Id: Id },
            async: false,
            success: function (reslut) {
                json = eval('(' + reslut + ')');
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }

    //根据不良原因ID 查找不良原因信息
    function ajaxblyymodelbyidjson(Id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_Blinfo/GetblyymodelbyId",
            data: { Id: Id },
            async: false,
            success: function (reslut) {
                json = eval('(' + reslut + ')');
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }

    //根据元器件ID 查找元器件信息
    function ajaxyjmodelbyidjson(Id) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_YJinfo/Getyjinfomodelbyid",
            data: { Id: Id },
            async: false,
            success: function (reslut) {
                json = eval('(' + reslut + ')');
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }

    //根据供应商代码查找供应商信息
    function ajaxgysinfobydm(dm) {
        var json;
        $.ajax({
            type: "POST",
            url: "/NQ_GysInfo/Getgysinfobydm",
            data: { dm: dm },
            async: false,
            success: function (reslut) {
                json = eval('(' + reslut + ')');
            },
            error: function (e) {
                alert("请求失败！");
            }
        })
        return json;
    }

    //返回维修列表
    function Fhurl()
    {
        var url = "/NAReturnList/wxlist";
        location.href = url;
    }

</script>



<style id="style1">
    .table_con
    {
        border-collapse: collapse;
        border: none;
    }

        .table_con td
        {
            border: solid #000 1px;
            height: 25px;
            padding: 0 0 0 5px;
        }

    .Miantitle
    {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .hedertitle
    {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .fontsizetd
    {
        font-size: 14px;
    }

    .bhcss
    {
        width: 100%;
        height: 50px;
    }

    .xkk
    {
        width: 5px;
        height: 5px;
        border: 1px solid #000;
    }

    i
    {
        width: 10px;
        height: 10px;
        line-height: 24px;
        vertical-align: top;
        margin: 4px 2px 0 0;
        overflow: hidden;
        border: 1px solid #000;
        display: inline-block;
    }
</style>

<div id="form1">
    <div class="Miantitle">
        新亚洲科技有限公司
    </div>
    <div class="hedertitle">
        客退品分析记录表
    </div>
    <div class="bhcss">
        <table style="width: 100%;">
            <tr>
                <td style="width: 450px">表单编号：NA/R-8.5-07</td>
                <td align="right">NO:A/2</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width: 100%">
                        <tr>
                            <td>客户名称：@ViewData["Cusname"]</td>
                            <td>产品退回时间：@ViewData["FTdate"]</td>
                            <td>维修人员：@ViewData["WXname"]</td>
                            <td>维修时间：@ViewData["wxdate"]</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <div id="Htmlcon">
    </div>
</div>

<div style="width: 200px; height: 80px; overflow: hidden">
    <div class="inquiry-input infor-b">
        <span>
            <button onclick="return myPreview1()">打印</button>
        </span>
        <span>
           <button onclick="window.history.go(-1)">返回</button></span>
    </div>
</div>


<script src="~/Scripts/NAjs/NAReturnList.js"></script>


