@{
    ViewBag.Title = "Rs";
}

<META http-equiv=refresh content="10;url=Index">
<STYLE type=text/css>.font14 {
	FONT-SIZE: 14px
}
.font12 {
	FONT-SIZE: 12px
}
</STYLE>
<TABLE height=500 cellSpacing=0 cellPadding=0 width=500 align=center 
background=images/yelang.gif border=0>
  <TBODY>
 <TR>
    <TD height=330>&nbsp;</TD></TR>
  <TR>
    <TD vAlign=top>
      <DIV class=font14 align=center><STRONG>群发发消息失败</STRONG><SPAN 
      class=font12><FONT color=#666666>十秒后自动返回<A 
      href="Index">返回列表页</A> 
    </FONT></SPAN></DIV></TD></TR></TBODY></TABLE>
