@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新亚年会！</title>
    <script src="../Content/wx/AN/PC/js/jquery.js" type="text/javascript"></script>
    <link href="../Content/wx/AN/PC/js/swiper.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <script src="../Content/wx/AN/PC/js/swiper.min.js" type="text/javascript"></script>
    <style>
        #audio_btn
        {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 999999;
        }

        input
        {
            display: block;
            width: 100%;
            border: none;
            font-size: 1em;
            line-height: 1.5em;
            margin: 0;
            padding: 0.5em;
            resize: none;
            font-family: inherit;
            color: inherit;
            box-sizing: border-box;
        }

        .send-btn
        {
            float: left;
        }

        ul
        {
            padding: 0px;
            margin: 0px;
        }

        li
        {
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
        }

        #conts p
        {
            width: 100%;
            word-break: break-all;
            padding: 3px 0px 3px 0px;
            margin: 0px;
        }

        .dm .d_screen .d_del
        {
            width: 38px;
            height: 38px;
            background: #600;
            display: block;
            text-align: center;
            line-height: 38px;
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            border-radius: 19px;
            border: 1px solid #fff;
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 3;
            display: none;
        }

            .dm .d_screen .d_del:hover
            {
                background: #f00;
            }

        .dm .d_screen .d_mask
        {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            filter: alpha(opacity=50);
            z-index: 1;
        }

        .dm .d_screen .d_show
        {
            position: relative;
            z-index: 2;
        }

            .dm .d_screen .d_show div
            {
                font-weight: 500;
                color: #fff;
                position: absolute;
                left: 0;
                top: 0;
            }

        #showmeg p
        {
            font-weight: bold;
            text-align: center;
        }

        .d_show div
        {
            width: 230px;
            heigth: 50px;
        }

        .d_show p
        {
            heigth: 50px;
            text-overflow: ellipsis;
        }

        #audio_btn
        {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 999999;
        }
    </style>
    <link rel="stylesheet" href="../Content/wx/AN/PC/css/style.css" type="text/css" media="all" />

    <script type="text/javascript" src="../Content/wx/AN/PC/js/jquery.min.js"></script>
</head>
<body style="padding: 0px; margin: 0px; background-image: url(../Content/wx/AN/PC/images/bg.jpg); background-size: 100% 100%;" onload="scrollBy(0, document.body.scrollHeight)">
    <div style="position:absolute;z-index:120;top:8%;left:10%; font-size:30px; color:#fff000; float:right; padding-right:210px; line-height:130px;">签到： @ViewData["Rcount"] 人</div>
    <div id="pic_show" style="position:absolute;z-index:100;top:20%;left:20%;">
	<ul id="Album">
		 
	 
	</ul>
   </div>

<script type="text/javascript" src="../Content/wx/AN/PC/js/album.js"></script>
<script type="text/javascript">
    Album.set('#Album')
</script>

 
  <audio id="music" src="../Content/wx/AN/PC/BeTheBest.mp3" autoplay="autoplay" loop="loop"></audio>    
        <a id="audio_btn"><img src="../Content/wx/AN/PC/play.png" width="40" height="45" id="music_btn" border="0"></a>        
	   <div class="swiper-container"   style="z-index:99999">
            <div  id="conts" style="color:#fff000;margin:0 auto ;padding-left:2%;padding-right:2%;padding-bottom:230px;height:280px;"> 
                <div style="position:absolute;height:160px;background:#000;z-index:99999;width:260px;top:20%;left:30%;display:none;" id="showmeg" class="swing">
                    <p style="color:#4BACC6;">新年吉祥！</p>
                    <p style="color:#6F81BD;">阖家欢乐</p>
                    <p style="color:#8064A2;">恭喜发财！</p>
                    <p style="color:#C0504D;">身体健康！</p>
                    <p style="color:#9BBB59;">O(∩_∩)O哈哈~！</p>
                </div>    	
                <div class="dm">
                    <!--d_screen start-->
                    <div class="d_screen">
                        <a href="#" class="d_del">X</a>
                        <div class="d_mask"></div>
                        <div class="d_show">
						<div style="color:#C0504D;font-size:20px; ">
						 
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
 	   </div>

        <div style="position:fixed;left:0%;bottom:0px;height:120px;width:100%;background-color:#f00;z-index:99999; ">
                 
            </div>
    </body>
</html>
<script>

    window.setInterval(function () { Getsignupinfo() }, 20000);

    $(function () {
        $("#audio_btn").click(function () {
            var music = document.getElementById("music");
            if (music.paused) {
                music.play();
                $("#music_btn").attr("src", "play.png");
            } else {
                music.pause();
                $("#music_btn").attr("src", "pause.png");
            }
        });
        []
        a = $("span [class='swiper-pagination-bullet swiper-pagination-bullet-active']").index();
        //alert(a);
        Getsignupinfo();
    })

    function send_reply2() {
        var content = $("#reply-write").val();
        if ($.trim(content) == "") {
            alert("亲，请输入你的想说的话！");
            return false;
        }

        var text = $("#reply-write").val();
        var div = "<div style='font-size:25px;color:#fff;'><p>" + text + "</p></div>";
        $("#reply-write").val("");
        $(".d_show").append(div);
        init_screen();

    }

    //弹幕一会显示一会消失
    window.onload = function () {
        //setTimeout(show, 10000);
    }
    //显示
    function show() {
        document.getElementById('showmeg').style.display = "block";
        $("#showmeg").animate({ top: '40%' }, 1800);
        $("#showmeg").animate({ top: '20%' }, 1800);
        $("#showmeg").animate({ left: '10%' }, 1800);
        setTimeout(hide, 5000);
    }
    //隐藏
    function hide() {
        document.getElementById('showmeg').style.display = "none";
        setTimeout(show, 10000);
    }



    $(function () {
        init_screen();
    });


    //考虑数据的交互，多久请求一下数据库
    $(document).ready(function () {
        setInterval("GetMax11ly()", 10000);
    });

    function startRequest(str) {

        //html = "<div style='color:#ff0000;font-size:30px;'>谭建云</div>";
        //html += "<div style='color:#F39F1F;font-size:30px;'>嗯嗯嗯爱爱爱爱啊</div>";
        //html += "<div style='color:#BF8DFF;font-size:35px;'>我的天呀</div>";
        //html += "<div style='color:#000067;font-size:45px;'>good good good </div>";
        //html += "<div style='color:#C0504D;font-size:33px;'>O(∩_∩)O哈哈哈~</div>";
        //html += "<div style='color:#F39F1F;font-size:30px;'>嗯嗯嗯爱爱爱爱啊</div>";
        //html += "<div style='color:#BF8DFF;font-size:35px;'>我的天呀</div>";
        //html += "<div style='color:#000067;font-size:45px;'>good good good </div>";
        //html += "<div style='color:#F39F1F;font-size:30px;'>嗯嗯嗯爱爱爱爱啊</div>";
        //html += "<div style='color:#BF8DFF;font-size:35px;'>我的天呀</div>";
        //html += "<div style='color:#000067;font-size:45px;'>good good good </div>";
        html = "";
        if (str != null) {
            for (var i = 0,j = str.length; i < j; i++) {
                html += '<div style="color:#C0504D;font-size:4'+i+'px; ">'
                html += '<table><tr><td>';
                html += '<img src="' + str[i].headimgurl + '" style="width:81px; height:81px;border-radius:81px;-webkit-border-radius:81px;-moz-border-radius:81px;" /></td>';
                html += '<td style="color:#C0504D;font-size:40px; ">' + str[i].Conter + '</td></tr></table></div>';
               
            }

        }
        else {
            html+= "<div style='color:#000;font-size:25px;'>恭喜发财，别忘留言！</div>";
        }
        $(".d_show").append(html);
        init_screen();
 
    }

    function init_screen() {
        var _top = 0;
        $(".d_show").find("div").show().each(function () {
            var _left = $(window).width() - $(this).width() + 220;
            var _height = $(window).height() + 100;

            _top = _top + 36;
            if (_top >= _height - 120) {
                _top = 40;
            }
            $(this).css({ left: _left, top: _top });
            var time = 10000;
            if ($(this).index() % 2 == 0) {
                time = 12000;
            }
            if ($(this).index() % 3 == 0) {
                time = 14000;
            }
            if ($(this).index() % 4 == 0) {
                time = 16000;
            }
            if ($(this).index() % 5 == 0) {
                time = 18000;
            }
            if ($(this).index() % 7 == 0) {
                time = 20000;
            }
            if ($(this).index() % 8 == 0) {
                time = 23000;
            }
            $(this).animate({ left: "-" + _left + "px" }, time, function () {
            });
        });
    }

    //随机获取颜色值
    function getReandomColor() {
        return '#' + (function (h) {
            return new Array(7 - h.length).join("0") + h
        })((Math.random() * 0x1000000 << 0).toString(16))
    }

    //获取全部参加人信息
    function Getsignupinfo() {
        Album.set('#Album');
        $.ajax({
            type: "POST",
            url: "/activity/ANsignjson",
            dataType: "json",
            async: false,
            success: function (reslut) {
                var str = eval(reslut);
                pjhtml(str);
            },
            error: function (e) {
                alert("网络异常,请重试！");
            }
        })
    }

    //拼接html
    function pjhtml(str) {
        var html = "";
        html += '<li class="album_big"><a href="/" id="you_logo"><img src="../Content/wx/ZPQ/img/you.png" /></a></li>';
        if (str != null) {
            for (var i = 0, j = str.length; i < j; i++) {
                html += '<li>';
                html += '<a href="/"><em></em><img src="' + str[i].headimgurl + '" style="width:50px; height:50px;" /></a>';
                html += '<div class="Album_info"><strong>昵称</strong><span>' + str[i].nickname + '</span><span><i></i><i></i></span></div>';
                html += '</li>';
            }
        }
        $("#Album").html(html);
    }

    //获取最多前11条留言
    function GetMax11ly()
    {
        $.ajax({
            type: "POST",
            url: "/activity/ANlYJson",
            dataType: "json",
            async: false,
            success: function (reslut) {
                var str = eval(reslut);
                startRequest(str);
            },
            error: function (e) {
                alert("网络异常,请重试！");
            }
        })
    }
</script>
